# Generic
# --------------------------
Thumbs.db
Desktop.ini
.directory
*.cache
*.log
*.old
*.zip
._
*~

# Project Configurations
# --------------------------
/.firebase
/.firebaserc
/.svelte
/.vscode
/build

# Developments
# --------------------------
node_modules
dist
.runtimeconfig.json
.env.*
.env

# But Keep these
# --------------------------
!.gitkeep
